:root {
  --content-width: 50vw;
  --regular-font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
  :root {
    --content-width: 90vw;
    --regular-font-size: 1.2rem;
  }

}

body {
  background-color: #282c34;

  font-family: "Raleway", sans-serif;
  color: white;
}

.header {
  display: flex;
  place-items: center;
  flex-direction: column;
  width: var(--content-width);
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  padding: 2% 0%;
}

.subHeader {
  padding-top: 2%;
  width: var(--content-width);
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}

.title {
  font-size: 5rem;
  line-height: 1.1;
  align-self: center;
  text-transform: uppercase;
  font-family: "Gugi", serif;
  font-weight: 400;
  font-style: normal;
}

.date {
  color: grey;
  font-size: var(--regular-font-size);
  align-self: flex-end;
}

.jobTitle {
  align-self: flex-start;
  font-size: var(--regular-font-size);
}

.blurb {
  width: var(--content-width);
  margin-left: auto;
  margin-right: auto;
  line-height: 1.3;
  font-size: calc(var(--regular-font-size) + 0.5rem);
}

.signature {
  font-size: 1.2em;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.6);
  font-style: italic;
}