:root {
  --headers-width: 50vw;
  --regular-font-size: 1.5rem;
  cursor: crosshair;
}

@media screen and (max-width: 768px) {
  :root {
    --headers-width: 100vw;
    --regular-font-size: 1.2rem;
  }

  .header {
    flex-direction: column;
    margin: 0 auto;
    margin-right: 2rem;
  }
  
  .subHeader {
    flex-direction: column;
    margin: 0 auto;
  }
  .blurb {
    width: 100vw;
    padding-left: 1.5rem;
  }
}

body {
  background-color: #282c34;
  font-family: "Old Standard TT", sans-serif;
  color: white;
}

p {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  place-items: center;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
  width: var(--headers-width);
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  padding: 4% 2% 0% 0%;
}

.subHeader {
  padding: 3% 0.8rem;
  margin-bottom: 5%;
  width: var(--headers-width);
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  border-bottom: 2px solid grey;
}

.title {
  font-size: calc(var(--regular-font-size) + 3rem);
  line-height: 1.1;
  align-self: center;
  text-transform: uppercase;
  font-family: "Gugi", serif;
  font-weight: 400;
  font-style: normal;
}

.date {
  color: grey;
  font-size: var(--regular-font-size);
  align-self: flex-end;
}

.jobTitle {
  align-self: flex-start;
  font-size: var(--regular-font-size);
}

.blurb {
  width: var(--headers-width);
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5;
  font-size: calc(var(--regular-font-size) + 0.2rem);
  overflow: hidden;
  opacity: 0;
  animation: slideUp 2s forwards;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.logos {
  padding-top: 0.4rem;
  padding-bottom: 1.5rem;
  padding-left: 0.8rem;
  display: flex;
  flex-direction: row;
  margin-right: 82%;
}

.logos > a {
  padding-right: 1.2rem;
}

.gmailLogo {
  padding-top: 2px;
}

.skills {
  font-size: var(--regular-font-size);
  font-weight: 500;
}
svg {
  color: white;
}


.scrollContainer {
  padding-top: 2rem;
  width: var(--headers-width);
  margin: auto;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  padding-bottom: 2rem;
}

.scrollContent {
  display: flex;
  gap: 2rem;
  animation: scroll 20s linear infinite;
}

.scrollContent::after {
  content: "";
  display: flex;
  gap: 3rem;
}

.scrollContent > svg:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 10px rgba(0, 255, 255, 0.8));
}
.scrollContainer:hover .scrollContent {
  animation-play-state: paused;
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.projectContainer {
  width: calc(var(--headers-width) + 1.5rem);
  margin: auto;
  display: flex;
  place-items: center;
  padding: 2rem;
}
.gearContainer {
  overflow: hidden;
  width: 30%;
  margin-right: 2rem;
  height: 10rem
}

.gearContainer > svg {
  animation: spin 20s linear infinite;
  height: 100%;
  margin-left:50%;
}

@keyframes spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}