:root {
  --headers-width: 50vw;
  --regular-font-size: 1.5rem;
  --color: black;
  --background-color: white;
  cursor: crosshair;
}

@media(prefers-color-scheme: dark) {
 :root {
  --color: white;
  --background-color: black;
 } 
}

@media screen and (max-width: 768px) {
  :root {
    --headers-width: 100vw;
    --regular-font-size: 1.2rem;
  }

  .header {
    flex-direction: column;
    margin: 0 auto;
    margin-right: 2rem;
  }
  
  .subHeader {
    flex-direction: column;
    margin: 0 auto;
  }
  .blurb {
    width: 100vw;
    padding-left: 1.5rem;
  }
}

body {
  background-color: var(--background-color);
  /* background-color: ; */
  font-family: "Old Standard TT", sans-serif;
  color: var(--color);
  font-size: var(--regular-font-size);
}

p {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  place-items: center;
  flex-direction: column;
  font-family: "News Cycle", sans-serif;
  width: var(--headers-width);
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  padding: 4% 2% 0% 0%;
}

.subHeader {
  padding: 3% 0.8rem;
  margin-bottom: 5%;
  width: var(--headers-width);
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  border-bottom: 2px solid grey;
}

.title {
  font-size: calc(var(--regular-font-size) + 4.5rem);
  line-height: 1.1;
  align-self: center;
  text-transform: uppercase;
  font-family: "News Cycle", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.date {
  color: grey;
  font-size: var(--regular-font-size);
  align-self: flex-end;
}

.jobTitle {
  align-self: flex-start;
  font-size: var(--regular-font-size);
}

.blurb {
  width: var(--headers-width);
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5;
  font-size: calc(var(--regular-font-size) + 0.2rem);
  overflow: hidden;
  opacity: 0;
  animation: slideUp 2s forwards;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.logos {
  padding-top: 0.4rem;
  padding-bottom: 1.5rem;
  padding-left: 0.8rem;
  display: flex;
  flex-direction: row;
  margin-right: 82%;
}

.logos > a {
  padding-right: 1.2rem;
}

.gmailLogo {
  padding-top: 2px;
}

.skills {
  font-size: calc(var(--regular-font-size) + 1.5rem);
  font-weight: 500;
}
svg {
  color: var(--color);
}


.scrollContainer {
  padding-top: 2rem;
  width: var(--headers-width);
  margin: auto;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  padding-bottom: 2rem;
}

.scrollContent {
  display: flex;
  gap: 2rem;
  animation: scroll 20s linear infinite;
}

.scrollContent::after {
  content: "";
  display: flex;
  gap: 3rem;
}

.scrollContent > svg:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 10px rgba(0, 255, 255, 0.8));
}
.scrollContainer:hover .scrollContent {
  animation-play-state: paused;
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.projectContainer {
  width: calc(var(--headers-width) + 1.5rem);
  margin: auto;
  display: flex;
  place-items: center;
  flex-direction: column;
  padding: 2rem;
}


@keyframes spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

#projectsTitle {
  font-size: calc(var(--regular-font-size) + 1.5rem);
  padding-bottom: 0.5rem;
  border-bottom: 2px solid grey;
}

.project {
  margin-top: 2rem;
}

.projectText > p {
  padding-bottom: 0.5rem;
}

.projectText {
  font-family: "Old Standard TT", serif;
}

.projectTitle {
  font-weight: bold;
  font-size: calc(var(--regular-font-size) + .5rem);
  font-family: "News Cycle", sans-serif;
}

.projectStack {
  display: flex;
  gap: 0.8rem;
  padding-left: 0.5rem;
  padding-top: 1.5rem;
}

.projectLink {
  color: var(--color);
  display: block;
  font-size: calc(var(--regular-font-size) - 0.1rem);
  text-decoration: none;
  padding-bottom: 0.5rem;
}

.projectLink:hover {
  color: grey;
  text-decoration: underline;
}
.projectLink:visited {
  color: var(--color);
}
